<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

<div class="container">

    <div class="left-section">
        <h1>Group Chat</h1>
        <p>Let's talk..💬</p>
        <h2> 🗺️Around The World.</h2>
    </div>
    <div class="right-section">
        <h2>Create Account</h2>

        <form id="signUpForm">
            <div class="input-group">
                <input type="text" id="name"placeholder="Full Name" required>
            </div>
            <div class="input-group">
                <input type="email" id="email" placeholder="Email Address" required>
            </div>
            <div class="input-group">
                <input type="tel" id="phone"placeholder="Phone Number" required>
            </div>
            <div class="input-group password">
                <input type="password" id="pwd"placeholder="Password" required>
            </div>
            <button type="submit" class="signup-btn">Sign Up</button>
        </form>
        <p class="login-link">Already have an account? <a href="/">Sign in</a></p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/signup.js"></script>
</body>
</html>
