@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.container {
    display: flex;
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: 40%;
    background: #0072ff;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
}

.left-section p, .left-section h2 {
    font-size: 18px; 
    margin-bottom: 15px;
}

.right-section {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}
.input-group input:focus{
    border-color: #0072ff;
    outline: none; 
}

.password {
    position: relative;
}

.password i {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.signup-btn {
    width: 100%;
    background: #665dfe;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn{
    width: 100%;
    background: #665dfe;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn:hover {
    background: #554cdf;
    transform: translateY(-2px);
}

.signup-btn:hover {
    background: #554cdf;
    transform: translateY(-2px);
}

.login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.login-link a {
    color: #665dfe;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}
.login-link a:hover {
    color: #554cdf;
}